/*.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}*/

@media only screen and (min-width: 1920px){
	.img2_2 {
    width: 60%;
}
@media only screen and (max-width: 992px){ 

	.fasad1, .fasad2, .fasad3{
		width: 962px;
	}
	.block3{
		width: 280px;
	}
	.pickcolor .row1, .row2{
		margin-left: 0px;
		margin-top: 0px;
	}
	
	#colordisap{
		display: none;
	}
	.img2_2{
		width: 70%;
	}
	.question{
		top: 7100px;
	}
	.blog-block{
	padding: 20px 40px 40px 90px;
	margin-bottom:0px;
	min-height:0px;
}
}



@media only screen and (min-width: 768px) and (max-width: 929px){
	/*body{
		width: 100%;
	}*/
	.img2_2 {
    width: 70%;
}
.blog-block{
	padding: 20px 40px 40px 90px;
	margin-bottom:-35px;
	min-height:238px;
}

	.block1{
		width: 200px;
		height: 350px;
	}
	.block1 img{
		height: 60px;
	}
	.block1-h1{
		font-size: 15px;
	}
  .block1-p{
  	font-size: 10px;
  }
  .pickcolor .row1, .row2{
  	margin-left:0px;
  	margin-top: 0px;
  }
  .color{
  	width: 100px;
  	height: 100px;
  }
}

@media only screen  and (max-width: 768px){
	body{
		/*width: 760px;*/
		width: 100%;
	}
	.img2_2 {
    width: 85%;
}

	.block{
		height: 750px;
	}
	.block1{
		width: 90%;
	    height: 250px;
	    margin: auto;
	    z-index: 4;
	}
	.block1 img{
		height: 50px;
	}
	.block1-h1{
		font-size: 15px;
	}
  .block1-p{
  	font-size: 10px;
  	height: 100px;
  }
  .request{
  	top: 1550px;
  	height: 400px;
  }
  .request .blank{
  	height: 450px;
  }
  .request .blank form{
  	padding: 10px 60px 10px 60px;
	text-align: left;
	text-transform:uppercase;
	font-size: 10px;
  }
  .manimg{
  	height: 0px;
  }
  .statistic{
  	top: 1600px;
  }
  .h1static1, .h1static2, .h1static3{
  	font-size: 36px;
  }
  .fasad{
  	top: 2250px;
  }
  .blog-block{
	padding: 20px 40px 40px 20px;
	margin-bottom:-35px;
	min-height:238px;
}
.fasadplate .fasadplate1 {
	height: 330px;
}
/*.center{
	height: 330px;
}*/
}


@media only screen  and (max-width: 630px) and (min-width: 520px){
	.img2_2 {
    width: 100%;
}
.fasadplate .fasadplate1 {
	height: 330px;
}
}
@media only screen  and (max-width: 630px) and (min-width: 500px){
	.fasadplate .fasadplate1 {
	height: 330px;
}
}

@media only screen  and (max-width: 480px) and (min-width: 331px) {
  body{
  	width: 100%;
  }
  .fasadplate .fasadplate1 {
	height: 330px;
}
	
  header{
  	background-position: unset;
  }
  .ordercall, .callbtn:before{
  	margin-top: 100px;
  }
  .banner-text h2{
	font-size: 30px;
  }
  .projects img{
  	width: 100%;
  }
  .block1 {
  	width: 80%;
    /* z-index: 5; */
    height: 200px;
    margin-top: 5px;
    padding: 10px;
  }
 
	.block1 img{
		height: 50px;
	}
	.block1-h1{
		font-size: 10px;
	}
  .block1-p{
  	font-size: 8px;
  }
  .col-12 {width: 100%;}
  .tittle-product h1{
  	font-size: 25px;
  }
}

@media only screen and (max-width:623px){
	header{
  	background-position: unset;
  }
}

@media only screen and (max-width:414px){
	.fasad{
		/*width: 415px;*/
		height: 2535px;
		background-position:unset;
		top: 2250px;
	}
	.fasad1, .fasad2, .fasad3{
		flex-direction: column;
	}
	.block3{
		width: 80%;
	}
	.block3 p{
		font-size: 10px;
		
	}
	 .block3 p > br + br{
		display: none;
	} 
	.truck{
		top: 4720px;
	}
	.fasadplate{
		top: 5320px;
	}
	.pickcolor{
		top: 5720px;
	}

	.request3{
		top: 6000px;
	}
	.content_review{
		top: 7000px;
	}
	.question{
		top: 8000px
	}
	.oftenquestion{
		top:8300px;
	}
	.request4{
		top: 8900px;
	}
	.map{
		top: 9500px;
	}
	footer{
		top: 10160px;
	}
}

@media only screen and (max-width:355px){
	.block3{
		width: 65%;
	}
}
