/*.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}*/

@media only screen and (min-width:320px) and (max-width:600px ){
	header{
  	background-position: unset;
  }
  .callbtn:before {
  	top:88px;
  }
  .ordercall1{
  	margin-top:65px;
  	margin-right: 0px; 
  }
  .banner-text2{
  	top:55px;
  }
  .getadvice{
  	top: 60px;
  }
  .tittle-product, .fasad{
  	top: -50px;
  }
  .block1{
	margin-top:0px;
  }
  .static1{
    margin: 0px 0px 0px 50px;
  }
  .h1static1, .h1static2, .h1static3, .h1fasad{
  	font-size: 2em;
  }
  .truckimg, .man{
  	display: none;
  }
 	.blank, .truck .blank2, .request3 .blank2, .request4 .blank{
 		width: 310px;
 	}
 	.blank{
 		margin-top: 0px;
 	}
  
	.fasadplate h1{
		font-size: 2em;
	}
	.plate1{
		width: 100%;
	}
	.pickcolor h1{
		font-size: 2em;
	}
	.pickcolor{
		overflow: hidden;
	}
	.col-xs-6{
		width: 100%;
	}
	.blog-block{
		min-height: 120px;
	}
	
	.request4{
		top: 0px;
	}
	 .reviews_block .swiper-container .swiper-slide .person1 p{
		font-size: 13px;
	}
	
	.phone{
		display: none;
	}
	.text{
		margin:120px;
	}
	.text p{
		font-size: 13px;

	}
	.text h1{
		font-size: 25px;
	}
	.getadvice2{
		margin-left:0px;
		margin-top: 50px;
	}
	.oftenquestion h1{
		font-size: 2em;
	}
	.FAQ{
		width: 300px;
	}
	
	.contactus{
		margin-top: 30px;
		float: none;
		text-align: center;
	}
	.callbtn2{
		margin:auto;
	}
	.block1{
		margin-top: 0px;
	}
	.projects img{
		width: 70%;
	}

}
@media only screen  and (min-width: 760px) and (max-width: 990px){
	.fasad1, .fasad2, .fasad3{
		display: initial;
	}
	.fasadplate .swiper-container .plate1{
	width: 80%;
}
.block1{
		margin-top: 0px;
	}
}

@media only screen and (min-width: 1340px) and (max-width: 1389px){
	.img2_2 {
    width: 60%;
}
	.manimg{
		display:block;
	}
}

@media only screen and (max-width: 992px){ 

	.fasad1, .fasad2, .fasad3{
		width: 962px;
	}
	
	.pickcolor .row1, .row2{
		margin-left: 0px;
		margin-top: 0px;
	}
	
	#colordisap{
		display: none;
	}
	.img2_2{
		width: 70%;
	}
	
}



@media only screen and (min-width: 768px) and (max-width: 929px){
	
	.img2_2 {
    width: 70%;
}
.blog-block{
	min-height:238px;
}

	.block1{
		width: 200px;
		height: 350px;
				margin-top: 0px;

	}
	.block1 img{
		height: 60px;
	}
	.block1-h1{
		font-size: 15px;
	}
  .block1-p{
  	font-size: 10px;
  }
  .pickcolor .row1, .row2{
  	margin-left:0px;
  	margin-top: 0px;
  }
  .color{
  	width: 100px;
  	height: 100px;
  }
  
.fasadplate{
	height: 450px;
}
.manimg{
	height: 0px;
}
}

@media only screen  and (max-width: 768px){
	.block1{
		margin-top: 0px;
	}
	.img-action, .phone img{
		height: 0px;
	}
	.getadvice2{
		margin-left: 0px;
		margin-top: 350px;
	}
	.projects{
		text-align: center;
	}

}

@media only screen and (max-width:414px){
	.fasad{
		height: 2535px;
		background-position:unset;
	}
	.fasad1, .fasad2, .fasad3{
		flex-direction: column;
	}
	
	.block3 p{
		font-size: 10px;
		
	}
	 .block3 p > br + br{
		display: none;
	} 
}

